body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    margin-top: 50px;
    width: 700px;
}

.content h1 {
    text-align: center;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

form {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.input_box {
    border: 1px solid #aaa;

}

label {
    margin-top: 6px;
}

#content {
    width: 50%;
    height: 24px;
    text-align: center;
}

#due_date {
    width: 16%;
    height: 24px;
    text-align: center;
}

#submit_btn {
    width: 12%;
    height: 28px;
    background-color: white;
}