{% extends 'base.html' %}

{% block head %}
<title>Chore List</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Chore List</h1>
    {% if chores|length < 1 %}
    <h3 style="text-align: center">There are no chores, create below:</h3>
    {% else %}
    <table>
        <tr>
            <th>Chore</th>
            <th>Due By</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        {% for chore in chores %}
        <tr>
            <td>{{ chore.content }}</td>
            <td>{{ chore.date_due }}</td>
            <td>{{ chore.date_created.date() }}</td>
            <td>
                <a href="/update/{{ chore.id }}">Update</a>
                <a href="/delete/{{ chore.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <label for="content">Chore:</label>
        <input type="text" name="content" class="input_box" id="content">
        <label for="due_date">Due Date:</label>
        <input type="date" placeholder="Due Date" name="due_date" class="input_box"
               id="due_date">
        <input type="submit" value="Add" class="input_box" id="submit_btn">
    </form>
</div>
{% endblock %}